
* {
    margin: 0px auto;
    max-width: 1500px;
  }
  
  body {
    margin-left: auto;
    margin-right: auto;
  }
  .header {
      background-color: #ec6d6d;
      text-align: center;
      margin: 0;
  }
  nav{
      text-align: center;
      font-size: 20px;
      background:  #ec6d6d; /*tô màu cho menu cha*/
  }
  nav ul{
      display: flex;
  }
  nav> ul li{
      list-style: none; /* bỏ dấu chấm mặc định của li */
  }
  nav> ul li a{
      display: block;
      padding: 0 15px;
      line-height: 50px;
      color: #fcf9f6;
      text-decoration: none;
  }
  /* Khi hover đến li, tô màu cho thẻ a */
  nav ul li:hover>a{
      background: rgb(243, 239, 239);
      opacity: .7;
      color: #ec6d6d;
  }
  /*menu con*/
  /*Ẩn các menu con cấp 1,2,3*/
  nav li ul{
      display: none;
      min-width: 250px;
      position: absolute;
  }
  nav li>ul li{
      width: 100%;
      border: none;
      border-bottom: 1px solid #ccc;
      background: #999;
      text-align: left;
  }
  
  /*khi hover thì hiện menu con*/
  nav  li:hover > ul{
      display:  block;
  }
  /*Hiển thị menu con cấp 2,3,4 bên cạnh phải*/
  nav > ul li > ul li >ul{
      margin-left: 220px;
      margin-top: -50px;
  }
  /*thanh tìm kiếm*/
  .search{
    width: 400px;
    position: relative;
    display: flex;
  }
  .searchTerm {
    width: 100%;
    border: 2px solid #faa373;
    border-right: none;
    padding: 5px;
    height: 30px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
    border-radius: 20px;
    font-size: 15px;
    }
  
    .searchTerm:focus{
    color: #faa373;
    }
  
    .searchButton {
    width: 50px;
    height: 42px;
    border: 1px solid #faa373;
    background: #faa373;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 15px;
    border-radius: 20px;
    }
    #phanchia1{
        background:#ffffff;
        text-align: center;
    }
    footer{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      background-color: #3c0303;
    }
    footer .col{
      color:#ade9ff;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 20px;
      padding-left: 20px;
     
    }
    footer .col:hover{
      color:#c6c9f5;
    text-decoration: underline;
    }
    footer .logo{
      margin-bottom: 30px;
    }
    footer h4{
      font-size: 14px;
      padding-bottom: 15px;
    }
    footer p{
      font-size: 16px;
      margin: 0 0 8px 0;
      color:beige;
    }
    footer a{
      font-size:  16px;
      text-decoration: none;
      color: #c6c9f5;
      margin: 10px;
    }
    footer h4{
      font-size:  20px;
      text-decoration: none;
      color: #ee45e2;
    text-align: center;
    }
    footer h4:hover{
      color:#e00cb9;
    }
    footer .follow .icon {
      padding-right: 4px;
    color:#fff;
    width:50px;
    height:40px;
    }
    footer .install .row img{
      border: 1px solid #088178;
      border-radius: 8px;
      width:90px;
      height:60px;
    }
    footer .install img{
      margin:  10px 0 15px 0;
    }
    footer .met img{
     width:80px;
     height:60px;
    }
    footer .copyright{
    width:100%;
      text-align: center;
    }
    footer a:hover{
      color:#07a4f8;
    }
    footer p:hover{
      color:#07a4f8;
    }    